@model BibliotecaAppV2.Models.Autor
@{
    ViewData["Title"] = "Detalhes do Autor";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Autor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Nome</dt>
        <dd class="col-sm-9">@Model.Nome</dd>

        <dt class="col-sm-3">Data de Nascimento</dt>
        <dd class="col-sm-9">@Model.DataNascimento?.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-3">Nacionalidade</dt>
        <dd class="col-sm-9">@Model.Nacionalidade</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</div>